.fifa{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 7%;
  
}
.img{
  min-width: 238px;
  max-width: 238px;
  min-height: 300px;
  max-height: 300px;
}
.App{
  background-image:url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/7ae121151890527.6314651d9cbe3.jpg");
}